/*********************************************************************
**********************************************************************

   | STYLE

      // Site style and customisation

      @ General
      @ Main Menu
      @ Content Bloc
      @ Buttons

************************************************************************
************************************************************************/


/************************************************
   -> General
*******************************************/

body {
   font-family: 'Roboto', sans-serif;
   font-size: 80%;
   color: $lynch;
}
q {
   background-color: $silverSand;
   color: $blackgray;
}

footer {
   background-color: $jacksons;
   .wrapp_box {
      padding: 30px;
      h5 {
         color: $white;
         padding: 0;
         margin: 0;
         text-transform: uppercase;
      }
   }
}

/************************************************
   -> Main Menu
*******************************************/

#mainMenu {
   position: fixed;
   z-index: 2;
   top: 0;
   left: 0;
   width: 100%;
   padding: 8px 15px;
   background-color: $jacksons;
   transition: ease 0.4s;
   ul.left {
      display: none;
      li, a {
         margin: 0;
         padding: 0;
      }
   }
   .menu {
      li {
         a {
            font-weight: 600;
            height: 40px;
            line-height: 40px;
            padding: 0 10px;
            font-size: 1.2em;
            color: $white;
         }
         i {
            margin-right: 10px;
         }
      }
   }
}


#mainMenu.active {
   box-shadow: 0 0px 1px $jacksons;
   padding: 5px 15px;
   background-color: $white;
   ul.left {
      display: block;
   }
   .menu {
      a {
         color: $jacksons;
      }
   }

}


/************************************************
   -> Buttons
*******************************************/

.btn {
   background-color: $thunderbird;
   color: $white;
}
.btn:hover {
   background-color: $monza;
   color: $white;
}
.btn_outline_light {
   background-color: transparent !important;
   border-color: $lynch;
   color: $lynch;
}
.btn_outline_light:hover {
   background-color: $white !important;
   border-color: transparent;
   color: $lynch;
}
.btn_outline_strong {
   background-color: transparent !important;
   border-color: $picton;
   color: $picton;
}
.btn_outline_strong:hover {
   background-color: $picton !important;
   border-color: $picton;
   color: $white;
}

.btn.btn_light {
   background-color: $white;
   color: $lynch;
}
.btn.btn_light:hover {
   background-color: $lynch;
   color: $white;
}

.btn.btn_strong {
   background-color: $razzmatazz;
   color: $white;
}
.btn.btn_strong:hover {
   background-color: $radical;
   color: $white;
}


/************************************************
   -> Home Page Style

*******************************************/

/*********************************
   Featured
************************/

#featured {
   position: relative;
   padding: 70px 50px 50px 50px;
   //@include linear-gradient(rgba(8,104,172,1), rgba(8,64,129,1));
   background-color: $jacksons;
   h2 {
      color: $white;
      margin-bottom: 5px;
   }
   h3 {
      color: $white;
      margin-bottom: 0;
   }
   p {
      color: $jordy;
      line-height: 1.6em;
      padding-top: 55px;
   }
   .box_infos {
      margin-top: 20px;
   }
   #infos_version {
      height: 36px;
      color: $royal;
      margin-left: 15px;
      h5 {
         line-height: 36px;
         color: $royal;
         margin-bottom: 0;
      }
   }
}


/*********************************
   Grid bloc style
************************/

$zeroooo : #000;

// Meshuggrid parameters
// $column-number, $gutters-width, $column-prefix
@include meshuggrid(12, 1.2%, mColone-);

pre {
   padding: 15px !important;
   border-radius: 4px;
}

.mgrid-row {
   margin-bottom: 10px;
   .mGrid {
      background-color: $iron;
      padding: 15px;
      text-align: center;
      border-radius: 5px;
      color: $edward;
      font-size: 1.3em;
      span {
         display: inline-block;
         width: 30px;
         height: 30px;
         background-color: $smoke;
         padding: 5px;
         border-radius: 50%;
         text-align: center;
      }
   }
}


/*********************************
   Quick links
************************/

#content_links {
   .wrapp_box {
      padding: 25px 50px;
   }
   ul {
      a {
         padding: 5px 20px;
      }
   }
}
.content_lowLight {
   background-color: $porcelain;
   color: $lynch;
   a {
      color: $silver;
   }
   a:hover {
      color: $jacksons;
   }
   q {
      background-color: $iron;
      color: $lynch;
   }
}

.content_highLight {
   background-color: $radical;
   color: $white;
   a {
      color: $newYork;
   }
   a:hover {
      color: $cabaret;
   }
   q {
      background-color: $iron;
      color: $lynch;
   }
}



/*********************************
   Item card
************************/

.item {
   text-align: center;
   padding: 15px;
   i {
      font-size: 5em;
      color: $edward;
      margin-bottom: 20px;
   }
   a {
      padding: 10px 15px;
      min-width: 100px;
   }
}
