<nav id="mainMenu" class="clearfix">
   <ul class="left list_h">
      <li>
         <a href="#featured" anchor-click class="home"><img src="img/meshuggrid_little.png"></a>
      </li>
   </ul>
   <ul class="right menu list_h">
      <li>
         <a href="#docs" anchor-click>Quick installation</a>
      </li>
      <li>
         <a href="#use" anchor-click>How to use it</a>
      </li>
      <li>
         <a href="#exemple" anchor-click>Exemples</a>
      </li>
      <!--li>
         <a class="btn" target="_blank" href="https://github.com/blackratio/Origin"><i class="fa fa-download"></i>Download</a>
      </li-->
   </ul>
</nav>
